/* Site-wide styles page */

/* 
Color palette
	Pale cool yellow - #fdfdb9
	Pale warm yellow - #ffd5a6
	Pale blue - #bacbfd
	Light green - #dcdd77
	Gold - #fece00
	Dark purple - #3939ac
	Dark blue - #2e73b8
	Light blue - #d6e6f5
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,600;0,700;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url("assets/bg.jpg");
  background-position: center;
}

#header {
	padding: 30px 5% 30px 5%;
	background-color: #e4f9b8;
	border: 2px solid #3939ac;
	border-radius: 4px;
}

#navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navBar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row reverse-wrap;
}

#navBar li {
	padding: 0px 20px;
	flex: 1 1 0;
}

#navBar a {
	text-decoration: none;
	font-size: 1em;
	font-family: "Montserrat", Trebuchet MS, sans-serif;
	color: black;
}

#navBar a:hover {
	color: red;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	display: none;
	position: absolute;
	padding-top: 5px;
	background-color: #e4f9b8;
	border-radius: 4px;
	width: 190%;
	z-index: 1;
}

.dropdownContent a {
	padding: 12px 16px;
	display: block;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.dropdownContent button {
	background-color: #e4f9b8;
	color: black;
	text-align: left;
	font-family: "Montserrat", Trebuchet MS, sans-serif;
	font-size: 1em;
	border: none;
	padding: 12px 16px;
	margin: 0px;
	font-weight: normal;
	transition-duration: 0s;
	cursor: pointer;
}

.dropdownContent button:hover {
	color: red;
}

#footer {
	padding: 30px 10%;
	background-color: #e4f9b8;
}

#logoLarge {
	max-width: 90%;
	margin: 10px;
}

/* For page layout */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.page {
	height: 100vh;
	width: 93%;
	padding: 10px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

	.wrapping {
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: center;
	}
	
	.scrolling {
		height: 100%;
		min-height: 100vh;
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.pYC {
		background-color: #fdfdb9;
	}

	.pYW {
		background-color: #ffd5a6;
	}

	.pB {
		background-color: #bacbfd;
	}

.pageItem {
	max-width: 50%;
	max-height: 100%;
}

	.title {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
	}

	.green {
		width: 25%;
		background-color: #dcdd77;
		border: 2px solid #3939ac;
		border-radius: 4px;
		padding: 10px;
	}
	
	.blue {
		background-color: #2e73b8;
		border: 2px solid #d6e6f5;
		border-radius: 4px;
		padding: 10px;
		color: white;
	}

	.team {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.team img {
		width: 50%;
		margin-bottom: 5px;
	}

	.team p {
		margin: 5px;
	}

.pageRow {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 5% 5% 0px 5%;
}

.listings {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 60px 15px 0px 15px;
}

.rowTitle {
	min-width: 150px;
	max-width: 150px;
	font-weight: bold;
}

.rowDesc {
	margin-left: 20px;
}

.listing {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 20px;
	margin: 10px;
	border: 2px solid #bacbfd;
	border-radius: 4px;
	padding: 10px 10px 5px 10px;
	max-width: 30%;
	flex-shrink: 3;
}

.listing:hover {
	border-color: #3939ac;
}

.listing img {
	width: 100%;
	object-fit: cover;
}

/* Basic elements */

h1 {
	font-family: "Montserrat Alternates", Trebuchet MS, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 5em; 
}

h2 {
	font-family: "Montserrat Alternates", Trebuchet MS, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
}

h4 {
	font-family: "Montserrat Alternates", Trebuchet MS, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.25em;
	margin-top: 0px;
}

h5 {
	font-family: "Montserrat Alternates", Trebuchet MS, sans-serif;
	font-style: normal;
	font-size: 1em;
	padding-top: 0px;
}

p {
	font-family: "Montserrat", Trebuchet MS, sans-serif;
	font-size: 1em;
}

a:hover {
	color: red;
}

form {
	width: 80%;
}

label {
	font-family: "Montserrat", Trebuchet MS, sans-serif;
	font-size: 1em;
}

.bigInput {
	font-size: 1.25em;
}

.usererror {
	font-size: 1.15em;
	font-style: bold;
	color: red;
	background-color: white;
	padding: 10px;
}

.btnLink {
	background-color: #fece00;
	color: black;
	text-align: center;
	text-decoration: none;
	font-family: "Montserrat Alternates", Trebuchet MS, sans-serif;
	font-size: 1.25em;
	border: 2px solid #fece00;
	border-radius: 4px;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.btnLink:hover {
	background-color: rgba(0,0,0,0);
}

button {
	background-color: #fece00;
	color: black;
	text-align: center;
	font-family: "Montserrat Alternates", Trebuchet MS, sans-serif;
	font-size: 1.25em;
	border: 2px solid #fece00;
	border-radius: 4px;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.small {
	font-size: 1em;
	margin: 5px 0px 5px 0px;
}

.lightBlue {
	color: white;
	background-color: #2e73b8;
	border: 2px solid #2e73b8;
}

button:hover {
	background-color: rgba(0,0,0,0);
}

hr {
	border-top: 6px dotted #3939ac;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.contacts img:hover {
	cursor: pointer;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
	header {
		
	}
	
	#navBar {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

	#navBar ul {
		flex-flow: column nowrap;
		align-self: flex-end;
	}
	
	.page {
		width: 95%;
		height: 100%;
		min-height: 100vh;
		flex-direction: column;
	}
	
	.pageItem {
	max-width: 100%;
	margin-bottom: 10px;
	}
	
	.pageRow {
		flex-flow: column nowrap;
	}
	
	.rowItem {
		max-width: 100%;
	}
	
	.title {
		position: absolute;
		margin-bottom: 20px;
		top: 0px;
	}
	
	.team img {
		width: 30%;
		margin-top: 30px;
	}
	
	.first {
		margin-top: 60px;
	}
}
